<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog 6-A</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
    <div class="jumbotron">
    <div class="container">
      <p>
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/news" class="btn btn-primary btn-lg">Новости&raquo;</a>
        <a href="/homeTasks" class="btn btn-info btn-lg">Домашние задания&raquo;</a>
      </p>
      {% block content %}
      {% endblock %}
        <hr>
        &copy; Все права защинены
        <br/>
        Developed by Korovkin Nikitka
    </div>
  </div>
</body>
</html>